<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Noticias</title>
  <link rel="stylesheet" href="../css/stylebitcoin.css">
</head>
<body>
  <div class="container">
    <h1 class="titulo">BITCOIN</h1>
    <p class="noticia">&nbsp &nbsp <span class="resaltado">Bitcoin</span> es una criptomoneda descentralizada y un sistema de pago sin banco central o administrador único. La criptomoneda fue concebida en 2008 por una persona o grupo de personas bajo el seudónimo de Satoshi Nakamoto, cuya identidad concreta se desconoce. En 2009 se presenta su implementación como código libre y la red entre iguales comienza a funcionar.

        Bitcoin se caracteriza por su alto nivel de descentralización y por una emisión de unidades limitada a un máximo de 21 millones de bitcoins, equivalente a 210.000 millones de satoshis que es la unidad mínima de cuenta definida en el protocolo Bitcoin. Esto ha convertido a Bitcoin en el primer activo digital escaso de la historia.</p>
    <div class="imagen">
      <img src="../static/img/BTCUSD.png" alt="Noticia">
      <div class="contenido">
        <h2 class="titulo-imagen">Evolución del precio</h2>
        <a href="../index.html#tendencias" class="volver-inicio">Volver a tendencias</a>
      </div>
  </div>
</div>
</body>
</html>
