<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Noticias</title>
  <link rel="stylesheet" href="../css/styleethereum.css">
</head>
<body>
  <div class="container">
    <h1 class="titulo">ETHEREUM</h1>
    <p class="noticia">&nbsp &nbsp <span class="resaltado"> Ethereum</span> es una plataforma digital que adopta la tecnología de cadena de bloques (blockchain) y expande su uso a una gran variedad de aplicaciones. Ether, su criptomoneda nativa, es la segunda más grande del mercado.

        La plataforma Ethereum fue creada en 2015 por el programador Vitalik Buterin, con la perspectiva de crear un instrumento para aplicaciones descentralizadas y colaborativas. Ether (ETH), su criptomoneda nativa, es un token que puede ser utilizado en transacciones que usen este software. Como bitcoin, ether existe como parte de un sistema financiero autónomo de pares, libre de intervención gubernamental. También como bitcoin, el valor de ether se disparó en un corto periodo de tiempo.</p>
    <div class="imagen">
      <img src="../static/img/ETHUSD.png" alt="Noticia">
      <div class="contenido">
        <h2 class="titulo-imagen">Evolución del precio</h2>
        <a href="../index.html#tendencias" class="volver-inicio">Volver a tendencias</a>
      </div>
  </div>
</div>
</body>
</html>
