<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Noticias</title>
  <link rel="stylesheet" href="../css/stylesolana.css">
</head>
<body>
  <div class="container">
    <h1 class="titulo">SOLANA</h1>
    <p class="noticia">&nbsp &nbsp <span class="resaltado">Solana</span> es un nuevo proyecto blockchain que quiere impulsar el desarrollo de aplicaciones descentralizadas (DAPPs) y para ello ofrece una plataforma que es la más escalable hasta el momento, segura y que intenta ser lo más descentralizada posible. Además, a su favor juega que tiene un sistema que no necesita hardware o nodos, lo que evita un gran consumo de energía, algo qué si necesitan bitcoin o ethereum. Es decir basa su tecnología, en lo que se conoce dentro del mundo cripto, en el consenso de prueba de participación de tercera generación. Es decir, se trata de una red de alto rendimiento y que llega para mejorar carencias de redes blockchain anteriores.</p>
    <div class="imagen">
      <img src="../static/img/SOLUSD.jpg" alt="Noticia">
      <div class="contenido">
        <h2 class="titulo-imagen">Evolución del precio</h2>
        <a href="../index.html#tendencias" class="volver-inicio">Volver a tendencias</a>
      </div>
  </div>
</div>
</body>
</html>