<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Noticias</title>
  <link rel="stylesheet" href="../css/styletether.css">
</head>
<body>
  <div class="container">
    <h1 class="titulo">TETHER</h1>
    <p class="noticia">&nbsp &nbsp <span class="resaltado">Tether</span> es una stablecoin o moneda estable, aunque al mismo tiempo también es una criptomoneda. Lo que diferencia a esta divisa digital con el resto de monedas, como bitcoin o ethereum, es que su misión es replicar el precio del dólar esto significa que un USDT, el nombre del token, siempre será equivalente a un dólar. Así las cosas, es una divisa digital que está pensada para ser usada masivamente o quizás sea más parecida a lo que conocemos por el dinero normal o dinero Fiat es decir no es una moneda pensada para la inversión sino para su uso.</p>
    <div class="imagen">
      <img src="../static/img/USDTUSD.png" alt="Noticia">
      <div class="contenido">
        <h2 class="titulo-imagen">Evolución del precio</h2>
        <a href="../index.html#tendencias" class="volver-inicio">Volver a tendencias</a>
      </div>
  </div>
</div>
</body>
</html>